{% load static %}
<header class="header header-page">
    <div class="header-fixed">
        <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
            <div class="container">

                <!-- Logo + Mobile toggle -->
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);" class="mobile_btn">
                        <span class="bar-icon"><span></span><span></span><span></span></span>
                    </a>
                    <a href="{% url 'admin_mofi_dashboard' %}" class="navbar-brand logo"><span class="brand-cfi-navbar d-none d-lg-inline ms-3" style="font-weight:800; font-size:1.15rem; color:#1e40af; letter-spacing:-0.3px;">CFI<span style="color:#0ea5e9;">.</span></span>
                        <img src="{% static 'html/assets/img/logo.svg' %}" class="img-fluid" alt="HUMG" style="max-height:44px;">
                    </a>
                </div>

                <!-- Menu ngang -->
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="{% url 'admin_mofi_dashboard' %}" class="menu-logo">
                            <img src="{% static 'html/assets/img/logo.svg' %}" class="img-fluid" alt="HUMG">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>

                    <ul class="main-nav">
                        <li class="{% if request.resolver_match.url_name == 'admin_mofi_dashboard' %}active{% endif %}">
                            <a href="{% url 'admin_mofi_dashboard' %}">
                                <i class="feather-grid me-1"></i> Dashboard
                            </a>
                        </li>

                        <li class="has-submenu {% if request.resolver_match.url_name in 'student_list,student_add,student_edit,student_detail,khoa_list,khoa_add,khoa_edit,nganh_list,nganh_add,nganh_edit,class_list,class_add,class_edit,chungchi_list,chungchi_add,chungchi_edit,tieu_chi_list' %}active{% endif %}">
                            <a href="#">Đào tạo <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="{% url 'student_list' %}">Sinh viên</a></li>
                                <li><a href="{% url 'khoa_list' %}">Khoa</a></li>
                                <li><a href="{% url 'nganh_list' %}">Ngành</a></li>
                                <li><a href="{% url 'class_list' %}">Lớp</a></li>
                                <li><a href="{% url 'chungchi_list' %}">Chứng chỉ</a></li>
                                <li><a href="{% url 'tieu_chi_list' %}">Tiêu chí</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu {% if 'dot_thi' in request.resolver_match.url_name or 'import' in request.resolver_match.url_name %}active{% endif %}">
                            <a href="#">Đợt thi <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="{% url 'dot_thi_list' %}">Danh sách đợt thi</a></li>
                                <li><a href="{% url 'import_lich_thi_tdnn' %}">Import lịch thi</a></li>
                                <li><a href="{% url 'import_diem_tdnn' %}">Import điểm TĐNN</a></li>
                                <li><a href="{% url 'import_diem_cdr_nn' %}">Import điểm CĐR NN</a></li>
                                <li><a href="{% url 'import_diem_cntt' %}">Import điểm CNTT</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu {% if request.resolver_match.url_name in 'post_list,post_add,post_edit,category_list,category_add,category_edit,slider_list,slider_add,slider_edit,quicklink_list,quicklink_add,quicklink_edit,thongbao_list,thongbao_add,thongbao_edit' %}active{% endif %}">
                            <a href="#">CMS <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="{% url 'post_list' %}">Bài viết</a></li>
                                <li><a href="{% url 'category_list' %}">Danh mục</a></li>
                                <li><a href="{% url 'slider_list' %}">Slider</a></li>
                                <li><a href="{% url 'quicklink_list' %}">Quicklink</a></li>
                                <li><a href="{% url 'thongbao_list' %}">Thông báo</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu {% if 'report' in request.resolver_match.url_name or 'canh_bao' in request.resolver_match.url_name or 'bao_luu' in request.resolver_match.url_name or 'phan_loai' in request.resolver_match.url_name %}active{% endif %}">
                            <a href="#">Báo cáo <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="{% url 'report_dashboard' %}">Dashboard báo cáo</a></li>
                                <li><a href="{% url 'danh_sach_canh_bao' %}">Cảnh báo SV</a></li>
                                <li><a href="{% url 'gui_canh_bao' %}">Gửi cảnh báo</a></li>
                                <li><a href="{% url 'phan_loai_sinh_vien' %}">Phân loại SV</a></li>
                                <li><a href="{% url 'bao_luu_diem_list' %}">Bảo lưu điểm</a></li>
                                <li><a href="{% url 'export_chua_dat_chuan' %}">Xuất chưa đạt</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu {% if request.resolver_match.url_name in 'user_list,user_add,user_edit,group_list,group_add,group_edit' %}active{% endif %}">
                            <a href="#">Hệ thống <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="{% url 'user_list' %}">Người dùng</a></li>
                                <li><a href="{% url 'group_list' %}">Nhóm quyền</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- User dropdown -->
                <ul class="nav header-right">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="feather-user"></i>
                            <span class="d-none d-md-inline ms-1">{{ request.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="{% url 'admin_profile' %}">
                                    <i class="feather-user me-2"></i> Hồ sơ
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item text-danger" href="{% url 'students:dang_xuat' %}">
                                    <i class="feather-log-out me-2"></i> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</header>